[global]
repo1-type=s3
repo1-path=/pgbackrest
repo1-s3-uri-style=path
repo1-s3-endpoint=http://minio:9000
repo1-s3-bucket=${MINIO_BUCKET}
repo1-s3-region=us-east-1
repo1-s3-key=${MINIO_ROOT_USER}
repo1-s3-key-secret=${MINIO_ROOT_PASSWORD}
repo1-s3-verify-tls=n
start-fast=y
process-max=2
archive-async=n

[${BACKREST_STANZA}]
pg1-path=/var/lib/postgresql/data
pg1-port=5432
pg1-user=postgres
