global
  log stdout format raw local0
  maxconn 2048

defaults
  log global
  mode tcp
  timeout connect 5s
  timeout client 60s
  timeout server 60s

resolvers docker
  nameserver dns 127.0.0.11:53
  hold valid 5s

frontend postgres_rw
  bind *:5432
  default_backend patroni_primary

frontend postgres_ro
  bind *:5433
  default_backend patroni_replicas

frontend stats
  bind *:8404
  mode http
  stats enable
  stats uri /stats
  stats refresh 5s

backend patroni_primary
  mode tcp
  option tcp-check
  tcp-check connect port 8008
  tcp-check send GET\ /primary\ HTTP/1.1\r\nHost:\ localhost\r\nConnection:\ close\r\n\r\n
  tcp-check expect string "HTTP/1.0 200"
  default-server inter 1s fall 2 rise 1 on-marked-down shutdown-sessions resolvers docker resolve-prefer ipv4 init-addr libc,none
  server pg1 pg1:5432 check
  server pg2 pg2:5432 check
  server pg3 pg3:5432 check

backend patroni_replicas
  mode tcp
  option tcp-check
  tcp-check connect port 8008
  tcp-check send GET\ /replica?lag=__REPLICA_LAG_MAX_BYTES__\ HTTP/1.1\r\nHost:\ localhost\r\nConnection:\ close\r\n\r\n
  tcp-check expect string "HTTP/1.0 200"
  balance roundrobin
  default-server inter 1s fall 2 rise 1 on-marked-down shutdown-sessions resolvers docker resolve-prefer ipv4 init-addr libc,none
  server pg1 pg1:5432 check
  server pg2 pg2:5432 check
  server pg3 pg3:5432 check
